body {
    background-color: #ededed;
    margin: 0px;
    height:1000px;
}

.Centered_img{
    width:70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main{
    background-color: whitesmoke;
    height: 100%;
    margin: 20px;
    child-align: middle;
}

.Top_Bar{
    overflow: hidden;
    background-color: #56595B;
    position: fixed;
    top: 0;
    width: 100%;
}
.Top_Bar a{
    float: left;
    display: block;
    text-align: center;
    padding: 10px 10px;
}
.Top_Bar a:hover{
    background: #9A9D9F;
}

.Centered_img_out{
    margin:10px;
    background-color:#3F3F3F;
}

.info_area{
    margin-top: 50px;

}
.info_area table,tr,th{
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    padding-left: 130px;
    padding-right: 130px;
    table-layout: auto;
}
.info_area td{
    table-layout: auto;
    padding: 10px;
}
.Home_Botton {

}